{% extends "global/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Cadastro de Aluno</h1>
            <div class="row justify-content-center">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Pop-up -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Conteúdo do pop-up -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mensagem de Confirmação</h4>
            </div>
            <div class="modal-body">
                <p>Formulário enviado com sucesso!</p>
            </div>
            <div class="modal-footer">
                <!-- Botão para redirecionar para a mesma página -->
                <a href="{% url 'criar_aluno' %}">
                    <button type="button" class="btn btn-primary">Ir para mesma página</button>
                </a>
                <!-- Botão para redirecionar para outra página -->
                <a href="{% url 'criar_aluno' %}">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ir para outra página</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% if formulario_enviado %}
<script>
    exibirPopup();
</script>
{% endif %}

{% endblock content %}

