{% extends "global/base.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% load static %}
{% block content %}
<!-- Content -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Cadastro de Aluno</h1>
            <div class="row justify-content-center">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ form.as_p }}
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% comment %} <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Cadastro de Aluno</h1>
            <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_nome" class="form-label">Nome:</label>
                    <input type="text" name="nome" id="id_nome" class="form-control" required>
                    <div class="invalid-feedback">
                        Por favor, preencha este campo.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="id_nome" class="form-label">Data de Nascimento:</label>
                    <input type="date" name="dataDeNasc" id="id_" class="form-control" required>
                    <div class="invalid-feedback">
                        Por favor, preencha este campo.
                    </div>
                </div>               
                <div class="mb-3">
                    <label for="id_nome" class="form-label">Sexo:</label>
                    <input type="text" name="sexo" id="id_nome" class="form-select" required>
                    <div class="invalid-feedback">
                        Por favor, preencha este campo.
                    </div>
                </div>                
                <div class="mb-3">
                    <label for="id_nome" class="form-label">Raça:</label>
                    <input type="text" name="nome" id="id_nome" class="form-control" required>
                    <div class="invalid-feedback">
                        Por favor, preencha este campo.
                    </div>
                </div>                
                <div class="mb-3">
                    <label for="id_nome" class="form-label">CPF:</label>
                    <input type="text" name="nome" id="id_nome" class="form-control" required>
                    <div class="invalid-feedback">
                        Por favor, preencha este campo.
                    </div>
                </div>                
                <div class="mb-3">
                    <label for="id_nome" class="form-label">Curso:</label>
                    <input type="text" name="nome" id="id_nome" class="form-control" required>
                    <div class="invalid-feedback">
                        Por favor, preencha este campo.
                    </div>
                </div>                
                <div class="mb-3">
                    <label for="id_nome" class="form-label">Forma de Ingresso:</label>
                    <input type="text" name="nome" id="id_nome" class="form-control" required>
                    <div class="invalid-feedback">
                        Por favor, preencha este campo.
                    </div>
                </div>                
                <div class="mb-3">
                    <label for="id_nome" class="form-label">Foto:</label>
                    <input type="text" name="nome" id="id_nome" class="form-control" required>
                    <div class="invalid-feedback">
                        Por favor, preencha este campo.
                    </div>
                </div>
                <!-- Repita os trechos acima para cada campo do seu formulário -->
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>  {% endcomment %}

<!-- Pop-up -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Conteúdo do pop-up -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mensagem de Confirmação</h4>
            </div>
            <div class="modal-body">
                <p>Formulário enviado com sucesso!</p>
            </div>
            <div class="modal-footer">
                <!-- Botão para redirecionar para a mesma página -->
                <a href="{% url 'cadastrarAluno' %}">
                    <button type="button" class="btn btn-primary">Ir para mesma página</button>
                </a>
                <!-- Botão para redirecionar para outra página -->
                <a href="{% url 'cadastrarAluno' %}">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ir para outra página</button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Toast -->
<div class="toast" id="myToast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
    <div class="toast-header">
      <strong class="mr-auto">Notificação</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Aluno cadastrado com sucesso!
    </div>
  </div>
  
<script>
console.log('UIIIIII')
document.addEventListener('DOMContentLoaded', function () {
    // Se o formulário foi enviado com sucesso, exiba o toast
    console.log("T_T")



    {% if formularioEnviado %}
    console.log('AIIIIIi')
    var toast = new bootstrap.Toast(document.getElementById('myToast'));
    toast.show();
    {% endif %}
});

$(document).ready(function(){
    var labels = document.querySelectorAll('label');
    labels.forEach(function(label){
        label.classList.add('form-label');
    })
})
</script>  

{% endblock content %}

