{% extends "global/base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-5">
        <div class="card-header">
          <h2 class="text-center">Perfil do Aluno</h2>
        </div>
        <div class="card-body">
          <!-- Exibindo a imagem do aluno -->
          <div class="text-center">
            <img src="{{ aluno.foto.url }}" class="img-fluid" alt="Foto do Aluno">
            <p>Diretório da foto: {{ aluno.foto.url }}</p>
          </div>

          <div class="form-group">
            <label for="nome">Nome:</label>
            <p>{{ aluno.nome }}</p>
          </div>
          <div class="form-group">
            <label for="cpf">CPF:</label>
            <p>{{ aluno.cpf }}</p>
          </div>
          <!-- Outros campos -->
          <div class="form-group">
            <label for="data_situacao">Data de Nascimento / Situação:</label>
            <p>{{ aluno.dataDeNasc|date:'d/m/Y' }} / {{ aluno.situacao }}</p>
          </div>

          <div class="form-group">
            <label for="sexo_raca">Sexo / Raça:</label>
            <p>{{ aluno.get_sexo_display }} / {{ aluno.get_raca_display }}</p>
          </div>

          {% comment %} <div class="text-center">
            <a href="{% url 'editar_aluno' aluno.pk %}" class="btn btn-primary">Editar</a>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
