{% extends "global/base.html" %}
{% block content %}

    <h2>Meu Formulário</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.curso.label }}
        {{ form.curso }}
        {{ form.campus.label }}
        {{ form.campus }}
        {{ form.pesquisa.label }}
        {{ form.pesquisa}}
        <button type="submit">Filtrar</button>
    </form>

  {% if form.is_bound and form.is_valid %}
    <ul>
      {% for aluno in alunos%}
        <li>{{ aluno.nome}} {{aluno.cpf}} {{ aluno.curso }}{{aluno.curso__campus__campus}} {{aluno.situcao}}         <a href="perfil/{{ aluno.id }}" class="btn btn-primary">
          <i class="fa fa-edit"></i>
        </a>
        <a href="" class="btn btn-danger">
          <i class="fa fa-trash"></i>
        </a></li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock  %}

