{% extends "global/base.html" %}
{% block content %}

<div class="container">
    <h2 class="mt-4 mb-4">Meu Formulário</h2>
    
<form method="post" class="row align-items-end">
    {% csrf_token %}
    <div class="col-md-4">
        <label for="curso" class="form-label">{{ form.curso.label }}</label>
        {{ form.curso }}
    </div>
    <div class="col-md-4">
        <label for="campus" class="form-label">{{ form.campus.label }}</label>
        {{ form.campus }}
    </div>
    <div class="col-md-4">
        <label for="pesquisa" class="form-label">{{ form.pesquisa.label }}</label>
        {{ form.pesquisa }}
    </div>
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>
</form>


    {% if form.is_bound and form.is_valid %}
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>Curso</th>
                    <th>Campus</th>
                    <th>Situação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for aluno in alunos %}
                <tr>
                    <td>{{ aluno.nome }}</td>
                    <td>{{ aluno.matricula }}</td>
                    <td>{{ aluno.curso }}</td>
                    <td>{{ aluno.curso.campus.campus }}</td>
                    <td>{{ aluno.situacao }}</td>
                    <td>
                        <a href="{% url 'perfil-aluno' aluno.id  %}" class="btn btn-primary btn-sm">
                            <i class="fa fa-eye"></i> Visualizar
                        </a>
                        <a href="{% url 'editar-perfil-aluno' aluno.id %}" class="btn btn-primary btn-sm">
                            <i class="fa fa-edit"></i> Editar
                        </a>
                        {% comment %} <a href="{% url 'excluir_aluno' aluno.id %}" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i> Excluir
                        </a> {% endcomment %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}
