{% extends "global/base.html" %}
{% block content %}

<div class="container">
    <h2 class="mt-4 mb-4">Visualizar Aluno</h2>
    
<form method="get" class="row align-items-end">
    <div class="col-md-4">
        <label for="curso" class="form-label">{{ form.curso.label }}</label>
        {{ form.curso }}
    </div>
    <div class="col-md-4">
        <label for="campus" class="form-label">{{ form.campus.label }}</label>
        {{ form.campus }}
    </div>
    <div class="col-md-4">
        <label for="pesquisa" class="form-label">{{ form.pesquisa.label }}</label>
        {{ form.pesquisa }}
    </div>
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>
</form>


{% comment %} {% if form.is_bound and form.is_valid %} {% endcomment %}
<div class="table-responsive mt-4">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nome</th>
                <th>Matrícula</th>
                <th>Curso</th>
                <th>Campus</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in page_obj %}
            <tr>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.matricula }}</td>
                <td>{{ aluno.curso }}</td>
                <td>{{ aluno.curso.campus.campus }}</td>
                <td>{{ aluno.situacao }}</td>
                <td>
                    <a href="{% url 'perfil-aluno' aluno.id  %}" class="btn btn-primary btn-sm">
                        <i class="fa fa-eye"></i> Visualizar
                    </a>
                    <a href="{% url 'editar-perfil-aluno' aluno.id %}" class="btn btn-primary btn-sm">
                        <i class="fa fa-edit"></i> Editar
                    </a>
                    {% comment %} <a href="{% url '' aluno.id %}" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"></i> Excluir
                    </a> {% endcomment %}
                <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteFormPopup">
                <i class="fa fa-trash"></i> Desvincular
                </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% comment %} {% endif %} {% endcomment %}
</div>
<div class="pagination d-flex justify-content-center">
  <span class="step-links">
    {% if page_obj.has_previous %}
        <a href="?{{ query_params }}">&laquo; Primeira</a>
        <a href="?page={{ page_obj.previous_page_number }}&{{ query_params }}">Anterior</a>
    {% endif %}

      <span class="current">
          Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}&{{ query_params }}">Próxima</a>
          <a href="?page={{ page_obj.paginator.num_pages }}&{{ query_params }}">Última &raquo;</a>
      {% endif %}
  </span>
</div>

</div>
<div id="deleteFormPopup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteFormPopupLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteFormPopupLabel">Confirmar exclusão</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="deleteForm" method="post">
          {% csrf_token %}
          {{ desvincularForm }}
          <button type="submit" class="btn btn-danger">Confirmar exclusão</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // Script para processar o envio do formulário de exclusão
  $(document).ready(function() {
    $('#deleteForm').submit(function(e) {
      e.preventDefault();
      var formData = $(this).serialize();
      // Aqui você pode enviar os dados do formulário para o backend usando AJAX
      // Por exemplo:
      // $.post('/url/do/backend/', formData, function(response) {
      //   // Processar a resposta do backend, se necessário
      // });
      // Fechar o popup após o envio do formulário
      $('#deleteFormPopup').modal('hide');
    });
  });
</script>


{% endblock %}
