{% include "global/partials/Head.html" %}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- sidebar -->
        {% include "global/partials/Sidebar.html" %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            
            <!-- Main Content -->
            <div id='content'>
                <!-- topbar -->
                {% include "global/partials/Topbar.html" %}
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>

            </div>

            <!-- End of Main Content -->

            <!-- Footer -->
            
        </div>
        <!-- End of Content Wrapper -->
        
    </div>
    <!-- End of Page Wrapper -->
    {% include "global/partials/Footer.html" %}

    <!-- Scroll to Top Button-->
    {% include "global/partials/ScrollButton.html" %}

    <!-- Logout Modal-->
    {% include "global/partials/Logout.html" %}

    <!-- Scripts -->
    {% include "global/partials/Scripts.html" %}
</body>

</html>